<!--
theme name:		Switch
version:		4.0.3
author:			Lilbud and Bluebotlaboratories
email:			bvw20002010@gmail.com
license:		creative commons CC-BY-NC-SA
based on:       Switch Theme for Launchbox by Grila
-->

<theme>
	<formatVersion>4</formatVersion>
	
	<!--Choose Button Style (letters or symbols)-->
	<include>./settings/letters.xml</include>
	
	<!--Choose Theme Color (light or dark)-->
	<include>./settings/light.xml</include>
	
	<!--Choose Aspect Ratio (16_9 or 4_3)-->
	<include>./settings/16_9.xml</include>

</theme>
